
#forgotpassword{
  margin-top: 10px;
}

.container1 {
    position: absolute;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    /* font-family: 'Mynerve', cursive; */
  }